# This script belongs in:
# /etc/systemd/system/ethminer.service
#
# sudo systenctl daemon-reload
# sudo systemctl enable ethminer.service
# sudo systemctl start ethminer.service
[Unit]
Description=Run Etherium Miner script
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
ExecStart=/home/allset/ethminer/start_miner
ExecStop=/home/allset/ethminer/stop_miner
KillSignal=SIGQUIT
PIDFile=/home/allset/ethminer/miner.pid
Type=forking
User=allset
