# This script belongs in:
# /etc/systemd/system/ethminer.service
#
# sudo systenctl daemon-reload
# sudo systemctl enable ethminer.service
# sudo systemctl start ethminer.service
[Unit]
Description=Stop Ethminer script at scheduled times
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
ExecStart=/home/allset/ethminer/stop_miner
Type=oneshot
RemainAfterExit=no
